<div class="row">
  <div class="span6 offset3">
    <h4>Resources:</h4>
    <div id="resourceList">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <% for (var index in results) {
            var result = results[index] %>
            <tr class="apt-row" <%= "onclick='clickOnResource(\"" %><%= result.url%><%= "\");'" %> >
              <td><%= result.title %></td>
              <td><%= (result.isDoc == '1')? "<i class='icon-file'>" : "<i class='icon-globe'>" %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
