<div class="row">
  <div class="span6 offset3">
    <div id="resourceList">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
            <tr class="apt-row" <%= "onclick='clickOnResource(\"" %><%= results.url%><%= "\");'" %> >
              <td><%= results.title %></td>
              <td><%= (results.isDoc == '1')? "<i class='icon-file'>" : "<i class='icon-globe'>" %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
