<div id="tb-accordion" class="accordion">
    <div class="dis-table">
        <div class="acc-row">
            <div>Date - Time</div>
            <div>Name</div>
        </div>
    </div>
    
        <% for (var abb in psessions) {
            var sesh = psessions[abb] %>
    <div class="accordion-group">
        <div class="accordion-heading dis-table">
            <a class="acc-row" data-toggle="collapse" data-parent="#tb-accordion" href="#sesh-<%= abb %>">
                <div><%= sesh.date %> - <%= sesh.time %></div>
                <div><%= sesh.fname %> <%= sesh.lname %></div>
            </a>
        </div>
        <div>
            <div id="sesh-<%= abb %>" class="accordion-body collapse">
                <div class="accordion-inner acc-inner-row">
                    <div><strong>Email:</strong> <%= sesh.email %></div>
                </div>
            </div>
        </div>
    </div>
        <% } %>
    
</div>